<a href="https://colab.research.google.com/github/BabimBeam/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

#Dictionary

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 567 #ถ้าเซฟข้อมูลทับข้อมูลเก่าก็จะหายไป คนใหม่เข้ามาคนเก่าก็หายไป

In [ ]:
dict_b

{'a': 567, 'b': 123}

###การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Chayada')

In [ ]:
print_myname()

Chayada

In [ ]:
b = print_myname()

Chayada

In [ ]:
b

In [ ]:
def print_name(name):        # ตัวอย่าง function ที่ มีครบทุกส่วน
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('stat')

'ชื่อ stat'

In [ ]:
a = print_name('stat')

In [ ]:
a

'ชื่อ stat'

In [ ]:
def print_fullname(surname,ID,name):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_fullname('ภาษาเวทย์','663020581-4','ชญาดา')

'ชื่อ ชญาดา นามสกุล ภาษาเวทย์ รหัส 663020581-4'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ชญาดา','ภาษาเวทย์','663020581-4')

ชื่อ ชญาดา นามสกุล ภาษาเวทย์ รหัส 663020581-4
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ชญาดา','ภาษาเวทย์','663020581-4','A')

ชื่อ ชญาดา นามสกุล ภาษาเวทย์ รหัส 663020581-4
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ชญาดา','ภาษาเวทย์','663020581-4',grade = 'A')

ชื่อ ชญาดา นามสกุล ภาษาเวทย์ รหัส 663020581-4
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ชญาดา','ภาษาเวทย์')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz5
เขียน function ของ HW2

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

In [ ]:
#เขียน function คำนวณช่วงเวลาวินาที เอาแบบไม่ใช้ map
def calculate_duration_seconds(start_datetime_str, end_datetime_str):
    days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    # แยกวันและเวลา
    start_time_day = start_datetime_str.split(', ')
    end_time_day = end_datetime_str.split(', ')

    start_time = start_time_day[0]
    start_day = start_time_day[1]

    end_time = end_time_day[0]
    end_day = end_time_day[1]

    # แยกชั่วโมง นาที วินาที สำหรับเวลาเริ่มต้น
    h1_str, m1_str, s1_str = start_time.split(':')
    h1 = int(h1_str)
    m1 = int(m1_str)
    s1 = int(s1_str)
    start_seconds = h1 * 3600 + m1 * 60 + s1

    # แยกชั่วโมง นาที วินาที สำหรับเวลาสิ้นสุด
    h2_str, m2_str, s2_str = end_time.split(':')
    h2 = int(h2_str)
    m2 = int(m2_str)
    s2 = int(s2_str)
    end_seconds = h2 * 3600 + m2 * 60 + s2

    # หาลำดับวันในสัปดาห์
    start_day_index = days_of_week.index(start_day)
    end_day_index = days_of_week.index(end_day)

    # คำนวณความต่างของวันแบบวนรอบ
    day_diff = (end_day_index - start_day_index) % 7

    # คำนวณเวลาทั้งหมดเป็นวินาที
    total_seconds = day_diff * 24 * 3600 + (end_seconds - start_seconds)

    # ถ้าเวลาติดลบ ให้เพิ่มอีก 1 สัปดาห์
    if total_seconds < 0:
        total_seconds += 7 * 24 * 3600

    return total_seconds

In [ ]:
start = '16:06:09, Sunday'
end = '11:11:11, Tuesday'

duration = calculate_duration_seconds(start, end)
print(f"ช่วงเวลาคือ {duration} วินาที")

ช่วงเวลาคือ 155102 วินาที

In [ ]:
start = '16:06:09, Sunday'
end = '11:11:11, Tuesday'

print(calculate_duration_seconds(start, end))  # ผลลัพธ์: จำนวนวินาทีที่ห่างกัน

155102

###Quiz6
เขียน funtion ของ HW2 --> มีการใช้ค่า Default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

12:30:15, Wednesday - 13:41:07, Thursday

12:53:15, Monday - 00:59:25, Tuesday

16:06:09, Sunday - 11:11:11, Tuesday

In [ ]:
def calculate_duration_hw2(start, end_time, end_day=None):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    # แยกเวลาและวันจาก start
    start_time, start_day = start.split(', ')
    h1, m1, s1 = start_time.split(':')
    start_seconds = int(h1) * 3600 + int(m1) * 60 + int(s1)

    # ถ้าไม่ระบุ end_day ใช้วันเดียวกับ start_day
    if end_day is None:
        end_day = start_day

    h2, m2, s2 = end_time.split(':')
    end_seconds = int(h2) * 3600 + int(m2) * 60 + int(s2)

    # หา index ของวัน
    start_day_index = days.index(start_day)
    end_day_index = days.index(end_day)

    # คำนวณจำนวนวันที่ต่างกันแบบวนรอบ
    day_diff = (end_day_index - start_day_index) % 7

    # คำนวณเวลาทั้งหมด
    total_seconds = day_diff * 86400 + (end_seconds - start_seconds)

    # ถ้าเวลาติดลบ แสดงว่าเวลาสิ้นสุดจริงๆ อยู่ในสัปดาห์ถัดไป
    if total_seconds < 0:
        total_seconds += 7 * 86400

    return total_seconds

In [ ]:
# วันเดียวกัน ไม่ต้องกรอก end_day
print(f"ใช้เวลา",calculate_duration_hw2('12:30:15, Wednesday', '13:41:07'),"วินาที")

# คนละวัน กรอกวันเพิ่ม
print(f"ใช้เวลา",calculate_duration_hw2('12:53:15, Monday', '00:59:25', "Tuesday"),"วินาที")

# ข้ามสัปดาห์
print(f"ใช้เวลา",calculate_duration_hw2('16:06:09, Sunday', '11:11:11', "Tuesday"),"วินาที")

ใช้เวลา 4252 วินาที
ใช้เวลา 43570 วินาที
ใช้เวลา 155102 วินาที

In [ ]:
# ตัวอย่าง 1
total_seconds1 = calculate_duration_hw2('12:30:15, Wednesday', '13:41:07')
days1 = total_seconds1 // 86400
print(f"▶ รวม {total_seconds1} วินาที = {days1} วัน")

# ตัวอย่าง 2
total_seconds2 = calculate_duration_hw2('12:53:15, Monday', '00:59:25', 'Tuesday')
days2 = total_seconds2 // 86400
print(f"▶ รวม {total_seconds2} วินาที = {days2} วัน")

# ตัวอย่าง 3
total_seconds3 = calculate_duration_hw2('16:06:09, Sunday', '11:11:11', 'Tuesday')
days3 = total_seconds3 // 86400
print(f"▶ รวม {total_seconds3} วินาที = {days3} วัน")

▶ รวม 4252 วินาที = 0 วัน
▶ รวม 43570 วินาที = 0 วัน
▶ รวม 155102 วินาที = 1 วัน

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [ ]:
# รายการช่วงเวลา
time_pairs = [
    ('18:09:10', '18:25:10'),
    ('13:38:39', '23:54:39'),
    ('16:49:58', '18:05:58'),
    ('21:49:10', '22:24:10'),
    ('08:52:21', '09:25:21'),
    ('06:56:26', '07:49:26'),
    ('12:08:05', '12:43:05'),
    ('01:48:38', '07:18:38'),
    ('08:51:21', '10:17:21'),
    ('17:05:17', '18:09:17')
]

# ฟังก์ชันแปลงเวลาเป็นวินาที
def time_to_seconds(t):
    h, m, s = t.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

# วนลูปคำนวณช่วงเวลา
for i, (t1, t2) in enumerate(time_pairs, start=1):
    seconds1 = time_to_seconds(t1)
    seconds2 = time_to_seconds(t2)
    duration = seconds2 - seconds1
    print(f"{i}. {t1} ถึง {t2} → {duration} วินาที")

1. 18:09:10 ถึง 18:25:10 → 960 วินาที
2. 13:38:39 ถึง 23:54:39 → 36960 วินาที
3. 16:49:58 ถึง 18:05:58 → 4560 วินาที
4. 21:49:10 ถึง 22:24:10 → 2100 วินาที
5. 08:52:21 ถึง 09:25:21 → 1980 วินาที
6. 06:56:26 ถึง 07:49:26 → 3180 วินาที
7. 12:08:05 ถึง 12:43:05 → 2100 วินาที
8. 01:48:38 ถึง 07:18:38 → 19800 วินาที
9. 08:51:21 ถึง 10:17:21 → 5160 วินาที
10. 17:05:17 ถึง 18:09:17 → 3840 วินาที

In [ ]:
print('abc','def')

abc def

In [ ]:
print('abc','def',sep='+')

abc+def

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(i,end= '-> /\n')

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

##วนลูปโดยไม่สนใจทั้งสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Chayada':
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิก C เป็นลำดับที่ 0
สมาชิก h เป็นลำดับที่ 1
สมาชิก a เป็นลำดับที่ 2
สมาชิก y เป็นลำดับที่ 3
สมาชิก a เป็นลำดับที่ 4
สมาชิก d เป็นลำดับที่ 5
สมาชิก a เป็นลำดับที่ 6

In [ ]:
for i,index in enumerate('Chayada'):
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')

สมาชิก 0 เป็นลำดับที่ C
สมาชิก 1 เป็นลำดับที่ h
สมาชิก 2 เป็นลำดับที่ a
สมาชิก 3 เป็นลำดับที่ y
สมาชิก 4 เป็นลำดับที่ a
สมาชิก 5 เป็นลำดับที่ d
สมาชิก 6 เป็นลำดับที่ a

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

#Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างนี้

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [ ]:
# prompt: วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างนี้
# ex:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25

for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
#chatgpt
rows = 5  # จำนวนแถว

for i in range(1, rows + 1):        # วนลูปตามจำนวนแถว
    for j in range(1, i + 1):       # วนลูปตามจำนวนตัวเลขในแต่ละแถว
        print(i * j, end=' ')       # แสดงผล i * j
    print()                         # ขึ้นบรรทัดใหม่

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ม','จ่าหนึ่ง','บักโส']

In [ ]:
print_feelings('แก้ม','พ่อใหญ่เฟิร์ส')

แก้ม คิดถึง พ
แก้ม คิดถึง ่
แก้ม คิดถึง อ
แก้ม คิดถึง ใ
แก้ม คิดถึง ห
แก้ม คิดถึง ญ
แก้ม คิดถึง ่
แก้ม คิดถึง เ
แก้ม คิดถึง ฟ
แก้ม คิดถึง ิ
แก้ม คิดถึง ร
แก้ม คิดถึง ์
แก้ม คิดถึง ส

In [ ]:
print_feelings('แก้ม',list_friends)

แก้ม คิดถึง คุณหนูเบียร์
แก้ม คิดถึง พ่อใหญ่เฟิร์ส
แก้ม คิดถึง อ้ายสีหนุ่ม
แก้ม คิดถึง จ่าหนึ่ง
แก้ม คิดถึง บักโส

In [ ]:
print_feelings('แก้ม',list_friends,feeling='รัก')

แก้ม รัก คุณหนูเบียร์
แก้ม รัก พ่อใหญ่เฟิร์ส
แก้ม รัก อ้ายสีหนุ่ม
แก้ม รัก จ่าหนึ่ง
แก้ม รัก บักโส

In [ ]:
print_feelings('แก้ม',list_friends,'รัก')

แก้ม รัก คุณหนูเบียร์
แก้ม รัก พ่อใหญ่เฟิร์ส
แก้ม รัก อ้ายสีหนุ่ม
แก้ม รัก จ่าหนึ่ง
แก้ม รัก บักโส

In [ ]:
print_feelings('แก้ม',list_friends,feeling='ซัง')

แก้ม ซัง คุณหนูเบียร์
แก้ม ซัง พ่อใหญ่เฟิร์ส
แก้ม ซัง อ้ายสีหนุ่ม
แก้ม ซัง จ่าหนึ่ง
แก้ม ซัง บักโส

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

ไว้ดู notebook

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

#ตัวอย่าง Quiz 6

In [ ]:
from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2):
  """
  คำนวณความแตกต่างของเวลาในหน่วยวินาทีระหว่างสองเวลาและวันในสัปดาห์

  Args:
    time_str1: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาแรก
    weekday1: วันในสัปดาห์สำหรับเวลาแรก (0=วันจันทร์, 6=วันอาทิตย์)
    time_str2: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาที่สอง
    weekday2: วันในสัปดาห์สำหรับเวลาที่สอง (0=วันจันทร์, 6=วันอาทิตย์)

  Returns:
    จำนวนวินาทีที่แตกต่างกัน
  """
  day = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
  # Mapping weekdays to a common reference point (e.g., seconds from the beginning of the week)
  seconds_per_day = 24 * 3600

  def parse_time_and_weekday(time_str, weekday):
    h, m, s = map(int, time_str.split(':'))
    # Calculate total seconds from the beginning of the week
    total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
    return total_seconds

  total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
  total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

  return abs(total_seconds1 - total_seconds2)

# Example usage:
time1 = "10:00:00"
day1 = 'Tuesday'
time2 = "11:30:00"
day2 = 'Thursday'

diff_seconds = time_difference_in_seconds(time1, day1, time2, day2)
print(f"ความแตกต่างของเวลาระหว่าง {time1} วัน {day1} และ {time2} วัน {day2} คือ {diff_seconds} วินาที")

time3 = "23:00:00"
day3 = 'Sunday'
time4 = "01:00:00"
day4 = 'Monday'

diff_seconds2 = time_difference_in_seconds(time3, day3, time4, day4)
print(f"ความแตกต่างของเวลาระหว่าง {time3} วัน {day3} และ {time4} วัน {day4} คือ {diff_seconds2} วินาที")

ความแตกต่างของเวลาระหว่าง 10:00:00 วัน Tuesday และ 11:30:00 วัน Thursday คือ 178200 วินาที
ความแตกต่างของเวลาระหว่าง 23:00:00 วัน Sunday และ 01:00:00 วัน Monday คือ 597600 วินาที

# HW 3 เพิ่ม  loop เข้าไปใน Quiz 6 โดยวนลูป คำนวณ วินาที ในโจทย์ ต่อไปนี้


    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight

In [ ]:
def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    """
    คำนวณความแตกต่างของเวลาในหน่วยวินาทีระหว่างสองเวลาและวันในสัปดาห์

    Args:
      time_str1: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาแรก
      weekday1: วันในสัปดาห์สำหรับเวลาแรก (เป็นชื่อ เช่น 'Monday')
      time_str2: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาที่สอง
      weekday2: วันในสัปดาห์สำหรับเวลาที่สอง (เป็นชื่อ เช่น 'Monday')

    Returns:
      จำนวนวินาทีที่แตกต่างกัน
    """
    # กำหนดค่าตัวเลขให้กับแต่ละวันในสัปดาห์ โดย Monday เป็น 0
    day = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3,
           'Friday': 4, 'Saturday': 5, 'Sunday': 6}
    # จำนวนวินาทีในหนึ่งวัน
    seconds_per_day = 24 * 3600

    def parse_time_and_weekday(time_str, weekday_index):
        """
        แปลงสตริงเวลาและดัชนีวันในสัปดาห์ให้เป็นจำนวนวินาทีทั้งหมดนับจากเริ่มต้นสัปดาห์ (Monday 00:00:00)
        """
        h, m, s = map(int, time_str.split(':'))
        # คำนวณวินาทีทั้งหมด: (จำนวนวัน * วินาทีต่อวัน) + (ชั่วโมง * 3600) + (นาที * 60) + วินาที
        total_seconds = weekday_index * seconds_per_day + h * 3600 + m * 60 + s
        return total_seconds

    # หากไม่ได้ระบุ weekday2 ให้ใช้ weekday1
    if weekday2 is None:
        weekday2 = weekday1

    # แปลงเวลาและวันแรกเป็นวินาทีทั้งหมด
    total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
    # แปลงเวลาและวันที่สองเป็นวินาทีทั้งหมด
    total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

    # คำนวณผลต่างสัมบูรณ์ของวินาที
    # Handle cases where the difference spans across the start of the week (Monday 00:00:00)
    # If the difference is greater than half a week, assume it's in the other direction
    # This handles cases like Sunday 23:00:00 to Monday 01:00:00
    diff = abs(total_seconds1 - total_seconds2)
    if diff > 3.5 * seconds_per_day:  # More than half a week
        diff = 7 * seconds_per_day - diff

    return diff


# ชุดทดสอบ
test_cases = [
    ("10:00:00", "Monday", "11:30:00", "Monday", 5400),
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),
    ("23:00:00", "Sunday", "01:00:00", "Monday", 7200),
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 86400),
    ("00:00:00", "Monday", "23:59:59", "Monday", 86399),
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),
]

# วนลูปทดสอบและแสดงผลลัพธ์
for i, (t1, d1, t2, d2, expected) in enumerate(test_cases, 1):
    result = time_difference_in_seconds(t1, d1, t2, d2)
    status = "✅" if result == expected else f"❌ (Expected {expected})"
    print(f"Test {i}: {t1} {d1} - {t2} {d2} = {result} seconds {status}")

Test 1: 10:00:00 Monday - 11:30:00 Monday = 5400 seconds ✅
Test 2: 11:30:00 Monday - 10:00:00 Monday = 5400 seconds ✅
Test 3: 23:00:00 Sunday - 01:00:00 Monday = 7200 seconds ✅
Test 4: 01:00:00 Monday - 23:00:00 Sunday = 7200 seconds ✅
Test 5: 10:00:00 Tuesday - 11:30:00 Thursday = 178200 seconds ✅
Test 6: 11:30:00 Thursday - 10:00:00 Tuesday = 178200 seconds ✅
Test 7: 12:00:00 Monday - 12:00:00 Monday = 0 seconds ✅
Test 8: 12:00:00 Monday - 12:00:00 Tuesday = 86400 seconds ✅
Test 9: 00:00:00 Monday - 23:59:59 Monday = 86399 seconds ✅
Test 10: 23:59:59 Sunday - 00:00:00 Monday = 1 seconds ✅

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [1]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [2]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [3]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [4]:
a = 2 < 3
print(a)

True

In [6]:
b = 7 in range(7)
print(b)

False

In [7]:
a & b

False

In [8]:
a | b

True

In [9]:
if 2 < 3 & 7 in range(10):
    print('yes')

yes

In [10]:
if (1>0) & (0>-1):
    print(True & True)

True

In [11]:
if 'C' in 'Chayada':
    print('C in Chayada')

C in Chayada

# break คือ ออกจาก loop

In [21]:
numbers = [0, 2, 8, 24, 5, 60, 70, 81, 9, 10]
#สร้าง function ตรวจสอบว่าใน list มีเลขคี่ หรือเปล่า
def check_odd_in_list(input_list):
  for i in input_list:
    if i % 2 == 1:
      print(f'มีเลขคี่ คือ {i}')
      break
  print('ไม่มีเลขคี่ ')
check_odd_in_list(numbers)

มีเลขคี่ คือ 5
ไม่มีเลขคี่

In [27]:
numbers = [0, 2, 8, 24, 5, 60, 70, 81, 9, 10]
#สร้าง function ตรวจสอบว่าใน list มีเลขคี่ หรือเปล่า
def check_odd_in_list(input_list):
  for i in input_list:
    if i % 2 == 1:
      print(f'มีเลขคี่ คือ {i}')
      return
  print('ไม่มีเลขคี่ ')
  return input_list

check_odd_in_list(numbers)
check_odd_in_list([0, 2, 8, 24])

มีเลขคี่ คือ 5
ไม่มีเลขคี่

[0, 2, 8, 24]

# Finish